%h3.heading
  = "Application %s" % @application.name

%p= "Libraries used by #{@application.name}"

%table
  %thead.header
    %tr
      %th.name= 'Name'
      %th.version= 'Latest Version'
      %th.homepage= 'Homepage'
  %tbody.items.libraries
    - @application.libraries.each do |library|
      = render 'libraries/item', :library => library

.clear

= link_to 'Index', user_path(@user)