!!!
%html{html_attrs}
  %head
    %meta{"http-equiv" => 'Content-Type', :content => 'text/html;charset=utf-8'}
    %title= h(Settings.sitename || "Kabisa Admin")
    %meta{ :name => "author", :content => "Michel de Graaf" }
    %meta{ :name => "keywords", :content => "rails rumble" }
    %meta{ :name => "description", :content => "rails rumble" }    
    = javascript_include_tag "jquery-1.3.2.min.js", :cache => true                 
    = javascript_include_tag "jquery.form.js", :cache => true            
    = javascript_include_tag "formfocus.js", :cache => true                            
    = javascript_include_tag "jquery.livequery.js", :cache => true                      
    
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.to_json};" if protect_against_forgery?       
    = stylesheet_link_tag "reset.css", :cache => true    
    = stylesheet_link_tag "gemstreamer.css", :cache => true           
    = stylesheet_link_tag "formtastic.css", :cache => true    
    = stylesheet_link_tag "formtastic_changes.css", :cache => true     
    = yield :head
  %body
    .container_12
      .prefix_1.grid_3.header
        %h1
          %a{ :href => "/", :title => "Home" }
            gemstreamer
      .grid_7.suffix_1.nav
        %ul
          %li
            - if current_user            
              = link_to "My applications", user_applications_path(current_user)
            - else  
              = link_to "All libraries", libraries_path            
          %li
            - if current_user
              = link_to "Logout", "/logout"
            - else
              = link_to "Login", "/login"              
          %li
            = link_to "Sign up", new_user_path unless current_user
      .prefix_1.grid_10.suffix_1.main
        .fold
          .count
            %strong
              Tracking
              = Library.count 
            gems since 
            = DateTime.now.to_s(:short)
          .blurb
            %strong
            Gemstreamer
            %br
            Keep track of gems your using in your rails app
        .info
          = yield
       
    